.container {
  width: 1275px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.seach-form {
  background-color: rgb(222, 196, 196);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.seach-form > input {
  width: 220px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon.png');
  background-size: 30px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  outline: none;
  outline-offset: 0;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
button {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(243, 211, 211);
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: rgb(202, 166, 166);
}
.is-hidden{
  display: none;
}
.seach-form > input:hover,
.seach-form > input:focus {
  border: 2px solid rgb(163, 121, 121);
}
.photo-card {
  width: 300px;
  height: 350px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  /* border: 1px solid tomato; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photo-card > img {
  max-width: 100%;
}
.gallery {
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  /* border: 1px solid green; */
}
.info {
  display: flex;
  /* border: 1px solid red; */
}
