.form-control {
  width: 220px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon.png');
  background-size: 30px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  outline: none;
  outline-offset: 0;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  margin-top: 20px;
  min-width: 220px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(224, 220, 220);
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: rgb(190, 188, 188);
}
h2 {
  font-size: 18px;
}
.card {
  width: 250px;
}
.card-body {
  padding: 15px;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(184, 182, 182);
  border-radius: 15px;
}
img {
  height: 110px;
   margin-left: auto;
  margin-right: auto;
}
